name: Daily Review Scraper

on:
  schedule:
    Ganti cron: '0 2 * * *' 
    #(Sekali sehari, 02:00 UTC / 09:00 WIB)
    # - cron: '0 * * * *'  # BARU: Setiap 1 jam sekali (pada menit ke-0)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install google-play-scraper requests pandas gspread google-auth gdown

      - name: Run scraper
        env:
          SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          GDRIVE_CREDENTIAL_JSON: ${{ secrets.GDRIVE_CREDENTIAL_JSON }}
        run: |
          echo "$GDRIVE_CREDENTIAL_JSON" > ifg-credentials.json
          python data_scrapping.py
